* {
    box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
    .container {
        padding: 10px 5%;
    }
    nav {
        padding: 10px 5%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 10px 5%;
    }
    nav {
        padding: 10px 5%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 10px 4%;
    }
    nav {
        padding: 10px 4%;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        padding: 10px 3%;
    }
    nav {
        padding: 10px 3%;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        padding: 10px 2%;
    }
    nav {
        padding: 10px 2%;
    }
}
